@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --cor-primaria: #0A3D62;
    --bg-color: #ffffff;
    --bg-form: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Julius Sans One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
}

.painel-esquerdo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* opcional, só pra estilo */
}


/* TÍTULO */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #000000;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* sombra inferior direita */
  }
  
  h2 {
    color: #000000;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* mesma sombra */
  }
  
.painel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6rem;
}

.esquerda,
.meio,
.direita {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor-primaria);
    color: white;

    height: 50%;
    width: 40%;

    border-radius: 50px;
}

div a {
    font-size: 1.2rem;
    font-weight: bold;
}

.meio h1 {
    margin: 0;
}